.button {
    -fx-background-color: brown;
    -fx-max-width: Infinity;
    -fx-text-fill: black;
}

.menu-bar {
    -fx-background-color: brown;
}

#inputVbox {
    -fx-background-color: green;
}

#imageVbox {
    -fx-background-color: orange;
}